In [20]:
#import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import seaborn as sns
from scipy.stats import mode
import time

In [8]:
# read data
predictions = pd.read_csv('/Users/huiyisang/Desktop/gender_submission.csv')
train = pd.read_csv('/Users/huiyisang/Desktop/train.csv')
test = pd.read_csv('/Users/huiyisang/Desktop/test.csv')

In [21]:
data = sns.load_dataset('titanic')

In [22]:
df = data.drop(['deck','class','who','adult_male','embark_town','alive','alone'],axis=1)

In [23]:
df['age'] = df['age'].fillna(df.groupby('sex')['age'].transform('mean'))

In [24]:
df['fam'] = df['parch'] + df['sibsp']

In [25]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked  fam
0         0       3    male  22.0      1      0   7.2500        S    1
1         1       1  female  38.0      1      0  71.2833        C    1
2         1       3  female  26.0      0      0   7.9250        S    0
3         1       1  female  35.0      1      0  53.1000        S    1
4         0       3    male  35.0      0      0   8.0500        S    0

In [26]:
df = pd.get_dummies(df, columns=['sex','embarked','pclass'], dtype=int)

In [27]:
y = df['survived']
X = df.drop('survived', axis=1)

In [29]:
all_columns = df.columns.to_list()
random_columns = [np.random.choice(all_columns, 3, replace= True).tolist() for i in range (10)]

In [30]:
random_columns

[['survived', 'sex_male', 'embarked_Q'],
 ['fam', 'embarked_Q', 'age'],
 ['embarked_Q', 'pclass_3', 'survived'],
 ['sibsp', 'sibsp', 'pclass_1'],
 ['fam', 'pclass_2', 'embarked_C'],
 ['age', 'pclass_3', 'fam'],
 ['fam', 'pclass_3', 'embarked_Q'],
 ['pclass_1', 'sex_female', 'sex_female'],
 ['sex_male', 'sibsp', 'survived'],
 ['survived', 'sibsp', 'embarked_Q']]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
#customize the ensamble function
def build_decision_trees(X_train, y_train, num_models=10, num_columns=3):
    all_columns = X_train.columns.to_list()
    models = []
    for i in range(num_models):
        selected_columns = np.random.choice(all_columns, num_columns, replace=True).tolist()
        X_train_subset = X_train[selected_columns]
        tree = DecisionTreeClassifier(random_state=42)
        tree.fit(X_train_subset, y_train)
        models.append((tree, selected_columns))
    return models

In [33]:
models = build_decision_trees(X_train, y_train, num_models=10, num_columns=3)

In [34]:
models

[(DecisionTreeClassifier(random_state=42), ['age', 'pclass_2', 'pclass_1']),
 (DecisionTreeClassifier(random_state=42),
  ['fare', 'embarked_Q', 'sex_female']),
 (DecisionTreeClassifier(random_state=42),
  ['pclass_3', 'sex_female', 'pclass_3']),
 (DecisionTreeClassifier(random_state=42), ['pclass_1', 'sibsp', 'parch']),
 (DecisionTreeClassifier(random_state=42), ['parch', 'sex_female', 'fare']),
 (DecisionTreeClassifier(random_state=42),
  ['pclass_2', 'pclass_1', 'embarked_Q']),
 (DecisionTreeClassifier(random_state=42),
  ['pclass_2', 'pclass_1', 'pclass_3']),
 (DecisionTreeClassifier(random_state=42), ['age', 'fam', 'pclass_1']),
 (DecisionTreeClassifier(random_state=42),
  ['pclass_3', 'pclass_1', 'embarked_C']),
 (DecisionTreeClassifier(random_state=42), ['pclass_3', 'parch', 'parch'])]