In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp
import statsmodels.api as sm

from statsmodels.sandbox.regression.gmm import GMM

In [4]:
df = pd.read_csv('C:/Users/User/Desktop/Transactional_Order_Dataset.csv')

In [8]:
df

,Order Date,Requested Delivery Date,Customer Country Code,Product Code,Description,Order Type,Customer Order Code,Value,Currency,Items,Route,Year-Month
0,2010-11-18,25.11.2011,SE,P7281,Waterproof Parka,VO,C75466,681.17,CNY,61,R8,2010-11
1,2011-08-05,22.05.2009,IT,P2186,Lightweight Parka,VO,C53113,15.86,JPY,28,R19,2011-08
2,2009-03-01,20.05.2009,FI,P4429,Waterproof Parka,RO,C57339,475.50,JPY,87,R7,2009-03
3,2011-12-14,18.11.2011,IT,P6469,Lightweight Parka,RO,C45180,200.07,INR,26,R5,2011-12
4,2010-03-17,17.10.2009,NO,P1955,Winter Parka,RO,C82989,223.18,USD,53,R35,2010-03
...,...,...,...,...,...,...,...,...,...,...,...,...
2416,2010-11-11,22.01.2010,ES,P9092,Lightweight Parka,VO,C15037,788.87,EUR,10,R20,2010-11
2417,2010-01-12,23.09.2009,FI,P8722,Waterproof Parka,VO,C89737,702.12,USD,54,R6,2010-01
2418,2011-03-04,11.01.2011,NO,P3007,Lightweight Parka,VO,C43871,474.81,USD,13,R11,2011-03
2419,2009-10-25,13.11.2010,ES,P7745,Heavy-Duty Parka,RO,C80803,379.35,EUR,18,R39,2009-10
2420,2011-09-08,07.06.2009,IT,P8977,Heavy-Duty Parka,RO,C49997,512.41,USD,51,R37,2011-09

Q1

In [ ]:
# Convert the "Order Date" column to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d.%m.%Y')

# Extract the year and month from the "Order Date"
df['Year-Month'] = df['Order Date'].dt.to_period('M')

# Group by the Year-Month and count the distinct "Customer Order Code"
monthly_order_counts = df.groupby('Year-Month')['Customer Order Code'].nunique().reset_index()

# Rename columns for clarity
monthly_order_counts.columns = ['Year-Month', 'Distinct Orders']

# Convert Year-Month to string format for easier readability
monthly_order_counts['Year-Month'] = monthly_order_counts['Year-Month'].astype(str)

monthly_order_counts

   Year-Month  Distinct Orders
0     2009-01               67
1     2009-02               69
2     2009-03               69
3     2009-04               59
4     2009-05               82
5     2009-06               69
6     2009-07               56
7     2009-08               63
8     2009-09               65
9     2009-10               52
10    2009-11               59
11    2009-12               76
12    2010-01               77
13    2010-02               63
14    2010-03               73
15    2010-04               49
16    2010-05               54
17    2010-06               57
18    2010-07               83
19    2010-08               75
20    2010-09               75
21    2010-10               71
22    2010-11               67
23    2010-12               64
24    2011-01               72
25    2011-02               58
26    2011-03               78
27    2011-04               56
28    2011-05               68
29    2011-06               52
30    2011-07               75
31    2011-08               70
32    2011-09               77
33    2011-10               84
34    2011-11               68
35    2011-12               66